.idea
.vscode
build
dist
docker
node_modules
coverage
.nyc_output

# typescript
*.tsbuildinfo

# logs
logs/*.log

# modules
modules/enabled/*.js

# config
config/connections.config.json
config/readers.config.json
config/server.config.json

# env files
.env
.env.local
.env.*.local
.worktrees/
